.container {
  display: flex;
  border-radius: 8px;
  align-items: center;
}

.container:hover {
  background-color: var(--search-bg);
  cursor: pointer;
}

.image {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;
  flex: 1;
}

.title {
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.likes {
  font-size: 0.8rem;
  color: var(--text-muted);
}
