.container {
  display: flex;
  border-radius: 8px;
  padding: 4px;
  align-items: center;
}

.container:hover {
  background-color: var(--search-bg);
  cursor: pointer;
}

.image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.likes {
  font-size: 0.8rem;
  color: var(--text-muted);
}
