.HeaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

.HeaderContainer > div {
  padding: 0px 10px;
}
