:root {
  --bg: #f9fafb;
  --text: #364153;
  --primary: #ff6900;
  --border: #e5e7eb;
  --header-bg: #ffffff;
}

[data-theme="dark"] {
  --bg: #030712;
  --text: #fff;
  --primary: #ff6900;
  --border: #364153;
  --header-bg: #101828;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
}
.statsBox{
  display: flex;
  gap: 16px;
}