.container {
  background-color: var(--header-bg);
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid var(--border);
  min-width: 250px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.5rem;
  color: var(--text);
}

.chefList {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
